/**********************
/***** Services *******
/*********************/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section{
    padding: 70px 0;
}
section .section-title{
    text-align:center;
    color:#007b5e;
    margin-bottom:50px;
    text-transform:uppercase;
    font-family: Arvo;
}

.container-fluid{
    margin: auto;
    width: 50%;
    padding: 10px;

}

#what-we-do .card{
    padding: 1rem!important;
    border: none;
    margin-bottom:7rem;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
    border-radius: 10px;
}

#what-we-do .card .card-block{
    padding-left: 50px;
    position: relative;
}
#what-we-do .card .card-block a{
    color: #007b5e !important;
    font-weight:700;
    text-decoration:none;
}
#what-we-do .card .card-block a i{
    display:none;

}
#what-we-do .card:hover .card-block a i{
    display:inline-block;
    font-weight:700;

}
#what-we-do .card .card-block:before{
    font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #007b5e;
    left: 0;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
    content: "\f0e7";
}
#what-we-do .card .block-2:before{
    content: "\f0eb";
}
#what-we-do .card .block-3:before{
    content: "\f1ad";
}
#what-we-do .card .block-4:before{
    content: "\f153";
}
#what-we-do .card .block-5:before{
    content: "\f18c";
}
#what-we-do .card .block-6:before{
    content: "\f041";
}
#what-we-do .card:hover .card-block:before{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
body {
    background: linear-gradient(90deg, rgb(83, 161, 117) 0%, rgb(177, 189, 173) 35%, rgb(173, 189, 180) 100%);

    background-size: 400% 400%;
    animation: BackgroundGradient 20s ease infinite;
    margin: 0;
}
@keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    10% {background-position: 0% 50%;}
}