body {
    background: linear-gradient(90deg, rgb(83, 161, 117) 0%, rgb(108, 138, 99) 35%, rgb(16, 145, 75) 100%);

    background-size: 400% 400%;
    animation: BackgroundGradient 20s ease infinite;
}

@keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    10% {background-position: 0% 50%;}
}


.logo
{
    top: 30px;
    position: relative;
    color: #fff;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    border-radius: 100px;

}
.city{
    border-radius: 6.25rem;
}
.divlogin
{
    width: 500px;
    text-align: center;
    background: #fff;
    height: 410px;
    padding: 10px;
    margin: 50px auto;
    border-radius: 10px;
}
.sottotitolo{
    font-size: 30px;
    text-align: center;
    color: #47525E;
    font-family: Arvo;
    line-height: 2.125rem;
    padding: 35px;
    margin-top: 19px;
}
.point{
    width: auto;
    height: 60px;
    margin-top: -30px;
}

.login
{
    color: #888888;
    text-align: center;
    font-size: 22px;
    margin-top: 5px;
    font-family: Arvo;
}
.bici{
    width: auto;
    height: 60px;
    outline: none;
    border: none;
}
.lente{
    width: auto;
    height: 60px;
}
.spina{
    width: auto;
    height: 60px;
}
input
{
    width: 50%;
    height: 40px;
    margin-top: 30px;
    border: none;
    background: #E5E5E5;
    outline: none;
    padding: 0 10px;
    border-radius: 10px;

}

.flex {
    display: flex;
    margin: 2em;
    vertical-align: center;
}

#submit  {
    background: none !important;
    color: #8be35b;
}

.butonlogin
{
    width: 50%;
    margin-top: 20px;
    height: 40px;
    font-weight: bold;
    background: #1e0505;
    border: none;
    color: #abe18c;
    transition: all 250ms;
    border-radius: 10px;
}
.butonlogin:hover
{
    background: rgb(139, 187, 17);
}
body
{
    margin: 0;
}

#remember_me {
    width: 1em;
    height: 1em;
    margin-right: 1.5em;
}


.inner-div {
    vertical-align: center;
}

.img {
    margin-right: 3em;
}


.remember {
    padding-bottom: 0;
    margin-top: 10px;
    display: inline-flex;

}

.pass {
    margin-bottom: 0;
    padding-bottom: 0;
}


.signin {
    margin-top: 0;
    padding-top: 0;
}

#submit {
    font-family: inherit;
    font-weight: bold;

}