body {
    background: linear-gradient(90deg, rgb(83, 161, 117) 0%, rgb(177, 189, 173) 35%, rgb(173, 189, 180) 100%);

    background-size: 400% 400%;
    animation: BackgroundGradient 20s ease infinite;
    margin: 0;
    overflow: hidden;
}
@keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    10% {background-position: 0% 50%;}
}
.google-maps {
    position: center;
    padding-bottom: 75%; /* Definisco l'aspect ratio */
    height: 0;
    overflow: hidden;
}
.google-maps > iframe {
    position: absolute;
    top: 33%;
    left: 25%;
    width: 50% !important;
    height: 50% !important;
    border-radius: 10px;
}
.city{
    border-radius: 6.25rem;
}

.logo
{
    top: 30px;
    position: relative;
    color: #fff;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    border-radius: 100px;

}
.palazzo{
    margin-top: 20px;
    position: absolute;
    height: 40px;
    left: 600px;
}
/*
.fo{
    position: center;
    bottom: 0%;
    width: 100%;
    margin-top: auto;

}

.footer {
    position: center;
    left: 0;
    bottom: 0%;
    width: 100%;
    background: linear-gradient(90deg, rgb(83, 161, 117) 0%, rgb(177, 189, 173) 35%, rgb(173, 189, 180) 100%);

    background-size: 400% 400%;
    animation: BackgroundGradient 20s ease infinite;
    color: white;
    text-align: center;
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
    margin-top: -100px;
}

.grattacielo{
    position: absolute;
    height: 40px;
    left: 100px;
    margin-top: 18px;
}
.tower{
    position: absolute;
    height: 40px;
    left: 350px;
    margin-top: 21px;
}
.palazzo{
    margin-top: 20px;
    position: absolute;
    height: 40px;
    left: 600px;
}
.grattacielo1{
    position: absolute;
    height: 40px;
    left: 1000px;
    margin-top: 18px;
}
.tower1{
    position: absolute;
    height: 40px;
    left: 800px;
    margin-top: 21px;
}
.palazzo1{
    margin-top: 19px;
    position: absolute;
    height: 40px;
    left: 1200px;
}

 */
