
{% block content %}
<body style="background-color: #007b5e">
    <h1 style="margin-left: 3%; margin-top: 3%"> E-CITY 404</h1>
    <div style="margin-left: 35%; margin-top: 17%;">

        <h1>File Not Found, Please come back 🚲️</h1>
        <button style="width: 20%;
            margin-top: 20px;
            height: 40px;
            font-weight: bold;
            background: #1e0505;
            margin-left: 18%;
            border: none;
            border-radius: 10px;">
            <p style="font-size: 20px; margin-top: 10px"><a style="color: #007b5e" href="{{ url_for('index') }}">Back</a></p></button>
    </div>


    </body>
{% endblock %}