{% extends "base.html" %}

{% block styles %}

	<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"> <!-- footer icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- bici -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
{% endblock %}

{% block app_content %}
 <section style="height: 100vh; margin: 2em; padding-top: 2em">
    <h1 class="hi">Hi {{ user.username }}, welcome to your E-City Profile</h1>
    <hr>
     <h2 class="hi" id="savedlocation">Saved Location</h2>
 <div class="box">
    <div class="container">
     	<div class="row">
			{% for location in user.my_locations %}
				{% include '_location.html' %}
			{% endfor %}
		</div>
    </div>
 </div>



    <div class="footer-basic" style="position:absolute;bottom:-120px;left:0;width:100%; height: 27%">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                            <li class="list-inline-item"><a href="#">E-CITY</a></li>
                            <li class="list-inline-item"><a href="#">Home</a></li>
                            <li class="list-inline-item"><a href="#">About</a></li>
                            <li class="list-inline-item"><a href="#">Contact Us</a></li>
                            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                        </ul>
            <br>
            <p class="copyright">E-City © 2022</p>
        </footer>
     </div>
    </section>
{% endblock %}
