{% extends "base.html" %}

{% block styles %}

	<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"> <!-- footer icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- bici -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
{% endblock %}

{% block app_content %}
 <section style="height: 100vh; margin: 2em; padding-top: 2em">
    <h1 class="hi">Hi {{ user.username }}, welcome to your E-City Profile</h1>
    <hr>
    {% for location in user.my_locations %}
    <p>
        {% if location.name %}
        {{ location.name }} <br>
        {% endif %}

        {% if location.address %}
        {{ location.address }}<br>
        {% endif %}

        {% if location.city %}
        {{ location.city }}<br>
        {% endif %}

        {% if location.country %}
        {{ location.country }}<br>
        {% endif %}

    </p>
    {% endfor %}

 <div class="box">
    <div class="container">
     	<div class="row">

			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">


						<div class="title">
							<h4>Posto</h4>
						</div>

						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>

						<a href="#">Learn More</a>

					 </div>
				</div>

				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">


						<div class="title">
							<h4>Posto</h4>
						</div>

						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>

						<a href="#">Learn More</a>

					 </div>
				</div>

				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">


						<div class="title">
							<h4>Posto</h4>
						</div>

						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>

						<a href="#">Learn More</a>

					 </div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">


						<div class="title">
							<h4>Posto</h4>
						</div>

						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>

						<a href="#">Learn More</a>

					 </div>
				</div>

				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">


						<div class="title">
							<h4>Posto</h4>
						</div>

						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>

						<a href="#">Learn More</a>

					 </div>
				</div>

				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

					<div class="box-part text-center">


						<div class="title">
							<h4>Posto</h4>
						</div>

						<div class="text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>

						<a href="#">Learn More</a>

					 </div>
				</div>

		</div>
    </div>
</div>



    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                            <li class="list-inline-item"><a href="#">E-CITY</a></li>
                            <li class="list-inline-item"><a href="#">Home</a></li>
                            <li class="list-inline-item"><a href="#">About</a></li>
                            <li class="list-inline-item"><a href="#">Contact Us</a></li>
                            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                        </ul>
            <br>
            <p class="copyright">E-City © 2022</p>
        </footer>
     </div>
    </section>
{% endblock %}